#backgroundImage {
    background-image: url('images/bonusRound.png');
    background-color: black;
    background-repeat: repeat-x;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.boxes{
    margin-left: 10%;
}

.knowledgeBox{
    height: 130px;
    width: 766px;
    background-color: lightgray;
    border: 8px solid black;
    margin: 25 10 10 10;
}

.knowledgeBoxLarge {
    height: 245px;
}

.knowledgeBoxText{
    text-align: center;
    vertical-align: middle;
    /*line-height: 130px;*/
    /*margin-left:57px;*/
    font-family: 'Bungee Inline', sans-serif;
    font-size: 1.2em;
}

.goButton{
    padding: 10px 20px 11px;
    margin-left: 39%;
    margin-top:12%;
    font-size: 21px;
    background-color: red;
    color: white;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid pink;
    cursor: pointer;
    
}

.taps {
    width: 50%;
    margin-left: 17%;
}

.tap5 {
    margin-top: 75px;
    width: 20%;
    height: 12%;
}

.tap3 {
    margin-top: 75px;
    width: 20%;
    height: 12%;
    float: right;
}

.jugs {
    width: 80%;
}

.jug5 {
    margin-top: 30px;
    margin-left: 20%;
}

.jug3 {
    float: right;
    margin-top: 30px;
    margin-right: 4%
}

.empty5 {
    float: left;
}


.empty3 {
    float: right;
}

.actions {
    width: 50%;
    margin-top: 10px;
}
