#backgroundImage {
    background-image: url('images/gameShow.png');
    background-color: black;
    background-repeat: repeat-x;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.boxes{
    margin-left: 10%;
}

.knowledgeBox{
    height: 130px;
    width: 215px;
    background-color: lightgray;
    border: 8px solid black;
    margin: 25 10 10 10;
}

.knowledgeBoxText{
    text-align: center;
    vertical-align: middle;
    line-height: 130px;
    /*margin-left:57px;*/
    font-family: 'Bungee Inline', sans-serif;
    font-size: 2em;
}

#logistics{
   margin-left: 6%;
}

#linguistics{
    font-size: 1.5em !important;
    margin-left: 8%;
}

#social{
    margin-left: 18%;
}

#visual{
    margin-left: 17%;
}

